#textdomain wesnoth-AI-demos

#ifdef TEST
[test]
#else
# wmlindent: start ignoring
[scenario]
# wmlindent: stop ignoring
#endif
    id=fred
    name=_"Fred"
    next_scenario=aid_switchboard

    map_data="{multiplayer/maps/2p_The_Freelands.map}"

    {DEFAULT_SCHEDULE}
    turns=50
    victory_when_enemies_defeated=yes

    [side]
        side=1
        controller=ai
        id=Fred
        name=Fred
        type=Orcish Warrior
        persistent=no

        team_name=Fred
        user_team_name=_"Fred"

        recruit=Goblin Spearman, Naga Fighter, Orcish Archer, Orcish Assassin, Orcish Grunt, Troll Whelp, Wolf Rider
        gold=100

        {~add-ons/AI-demos/ais/ai_fred.cfg}
    [/side]

    [side]
        side=2
        controller=ai
        id=Default AI
        type=Fog Clearer
        persistent=no

        team_name=Default_AI
        user_team_name=_"Default AI"

        gold=125
    [/side]

    {EVAL_EXEC_DEBUG_EVENTS}

    [event]
        name=prestart

        {VARIABLE scenario_name fred}

        [set_variable]
            name=fred_type
            rand=Orcish Warrior,Troll,Troll Rocklobber,Orcish Crossbowman,Orcish Slayer
        [/set_variable]

        [transform_unit]
            id=Fred
            transform_to=$fred_type
        [/transform_unit]

        {FULL_HEAL id=Fred}

        {CLEAR_VARIABLE fred_type}

        [set_menu_item]
            id=m06_kill_unit
            description=_"Kill Unit under Cursor"
            image=items/potion-poison.png~CROP(24,29,24,24)
            [command]
                [kill]
                    x,y=$x1,$y1
                [/kill]
            [/command]
        [/set_menu_item]

        [objectives]
            summary = _ "This scenario can be started directly from the commandline with '-t fred'"
        [/objectives]
    [/event]

    [event]
        name=start

        [message]
            message=_"Which faction should the enemy AI be?"
            speaker=Fred

            [option]
                message=_"Northerners"
                [command]
                    {VARIABLE ai_leader (Orcish Warrior,Troll,Troll Rocklobber,Orcish Crossbowman,Orcish Slayer)}
                    {VARIABLE recruit_types (Orcish Grunt,Troll Whelp,Wolf Rider,Orcish Archer,Orcish Assassin,Naga Fighter,Goblin Spearman)}
                [/command]
            [/option]

            [option]
                message=_"Rebels"
                [command]
                    {VARIABLE ai_leader (Elvish Captain,Elvish Hero,Elvish Ranger,Elvish Marksman,Elvish Druid,Elvish Sorceress,White Mage,Red Mage)}
                    {VARIABLE recruit_types (Elvish Fighter,Elvish Archer,Mage,Elvish Shaman,Elvish Scout,Wose,Merman Hunter)}
                [/command]
            [/option]

            [option]
                message=_"Undead"
                [command]
                    {VARIABLE ai_leader (Dark Sorcerer,Revenant,Deathblade,Bone Shooter)}
                    {VARIABLE recruit_types (Skeleton,Skeleton Archer,Walking Corpse,Ghost,Vampire Bat,Dark Adept,Ghoul)}
                [/command]
            [/option]

            [option]
                message=_"Knalgan Alliance"
                [command]
                    {VARIABLE ai_leader (Dwarvish Steelclad,Dwarvish Thunderguard,Dwarvish Stalwart,Rogue,Trapper)}
                    {VARIABLE recruit_types (Dwarvish Guardsman,Dwarvish Fighter,Dwarvish Ulfserker,Dwarvish Thunderer,Thief,Poacher,Footpad,Gryphon Rider)}
                [/command]
            [/option]

            [option]
                message=_"Drakes"
                [command]
                    {VARIABLE ai_leader (Drake Flare,Fire Drake,Drake Arbiter,Drake Thrasher,Drake Warrior)}
                    {VARIABLE recruit_types (Drake Burner,Drake Clasher,Drake Glider,Drake Fighter,Saurian Skirmisher,Saurian Augur)}
                [/command]
            [/option]

            [option]
                message=_"Loyalists"
                [command]
                    {VARIABLE ai_leader (Lieutenant,Swordsman,Pikeman,Javelineer,Longbowman,White Mage,Red Mage)}
                    {VARIABLE recruit_types (Cavalryman,Horseman,Spearman,Fencer,Heavy Infantryman,Bowman,Mage,Merman Fighter)}
                [/command]
            [/option]
        [/message]

        [set_variable]
            name=leader_type
            rand=$ai_leader
        [/set_variable]

        [kill]
            side=2
            canrecruit=yes
        [/kill]

        [unit]
            side=2
            id=Default AI
            type=$leader_type
            canrecruit=yes

            x,y=19,21
        [/unit]

        [allow_recruit]
            side=2
            type=$recruit_types
        [/allow_recruit]

        {CLEAR_VARIABLE ai_leader,recruit_types,leader_type}
    [/event]
#ifndef TEST
[/scenario]
#else
# wmlindent: start ignoring
[/test]
# wmlindent: stop ignoring
#endif
