#textdomain wesnoth-AI-demos

[scenario]
    id=luaai-demo
    name=_"LuaAI"
    next_scenario=aid_switchboard

    map_data="{multiplayer/maps/2p_The_Freelands.map}"

    {DEFAULT_SCHEDULE}
    turns=-1
    victory_when_enemies_defeated=yes

    [side]
        side=1
        controller=ai
        id=leader1
        type=Lieutenant
        persistent=no

        team_name=north
        user_team_name=_"Northern Army"
        recruit=Cavalryman,Horseman,Spearman,Fencer,Heavy Infantryman,Bowman,Mage

        gold=200

        [ai]
            {MODIFY_AI_ADD_CANDIDATE_ACTION 1 main_loop (
                [candidate_action]
                    engine=lua
                    name=move_spearmen
                    id=move_spearmen
                    max_score=100010
                    location="~add-ons/AI-demos/lua/ca_move_unittype.lua"
                    eval_parms="type = 'Spearman', score = 100010"
                    exec_parms="type = 'Spearman', goal_x = 4, goal_y = 20"
                [/candidate_action]
            )}
            {MODIFY_AI_ADD_CANDIDATE_ACTION 1 main_loop (
                [candidate_action]
                    engine=lua
                    name=move_bowmen
                    id=move_bowmen
                    max_score=99990
                    location="~add-ons/AI-demos/lua/ca_move_unittype.lua"
                    eval_parms="type = 'Bowman', score = 99990"
                    exec_parms="type = 'Bowman', goal_x = 34, goal_y = 20"
                [/candidate_action]
            )}
        [/ai]
    [/side]
    # We want to make sure there are some spearmen and bowmen
    {LIMIT_CONTEMPORANEOUS_RECRUITS 1 "Mage" 1}
    {LIMIT_CONTEMPORANEOUS_RECRUITS 1 "Cavalryman" 1}
    {LIMIT_CONTEMPORANEOUS_RECRUITS 1 "Horseman" 1}
    {LIMIT_CONTEMPORANEOUS_RECRUITS 1 "Heavy Infantryman" 1}
    {LIMIT_CONTEMPORANEOUS_RECRUITS 1 "Fencer" 1}

    [side]
        side=2
        controller=human
        id=leader2
        type=Lieutenant
        persistent=no

        team_name=south
        user_team_name=_"Southern Army"
        recruit=Cavalryman,Horseman,Spearman,Fencer,Heavy Infantryman,Bowman,Mage,Merman Fighter

        gold=200
    [/side]

    [side]  # This side is only here because we need one persistent side for the game to go on
        side=3
        controller=null
        persistent=yes
        save_id=Grnk
        type=Goblin Spearman
        hidden=yes
    [/side]

    # Prestart actions
    [event]
        name=prestart

        {VARIABLE scenario_name luaai-demo}

        # Goal signposts for AI
        {PLACE_IMAGE "scenery/signpost.png" 4 20}
        {SET_LABEL 4 20 _"Spearmen go here"}
        {PLACE_IMAGE "scenery/signpost.png" 34 20}
        {SET_LABEL 34 20 _"Bowmen go here"}
    [/event]

    [event]
        name=start

        {MESSAGE narrator "wesnoth-icon.png" _"Note" _"This scenario is meant as a simple demonstration of setting up a Lua AI engine and use it in a scenario. Its purpose is <i>not</i> to provide an AI that plays well or does anything particularly useful, but to serve as code template for your own AI work. The behavior is as follows:

- All spearmen are sent toward the signpost in the SW.
- All bowmen are sent toward the  signpost in the SE.
- Spearmen ignore all enemies and try to circumvent them, while bowmen are distractible and veer off their path to attack enemy units.

Note that the differences in behavior (unit types, signpost locations and whether units attack or not) are determined by parameters that are passed to the AI functions rather than by different code. In particular, whether units attack or not is determined simply by the candidate action evaluation score."}

        [objectives]
            side=2
            [objective]
                description=_"Defeat the enemy leader"
                condition=win
            [/objective]
            [objective]
                description=_"Death of your leader"
                condition=lose
            [/objective]
            [objective]
                description=_"A Side 1 spearman or bowman makes it to a signpost"
                condition=lose
            [/objective]
        [/objectives]
    [/event]

    # IF we beat the enemy leader
    [event]
        name=victory

        # So that game goes on to next scenario
        [modify_side]
            side=3
            controller=human
        [/modify_side]
    [/event]

    [event]
        name=moveto
        [filter]
            type=Spearman,Bowman
            x=4,34
            y=20,20
        [/filter]

        {MESSAGE $unit.id "" "" _"I made it. You lost!"}

        [endlevel]
            result=defeat
        [/endlevel]
    [/event]
[/scenario]
