#textdomain wesnoth-Grnk

[scenario]
    id=recruiting-unit
    name=_"Recruiting Tests"
    next_scenario=switchboard

    map_data="{~add-ons/AI-demos/maps/protect-unit.map}"

    {DEFAULT_SCHEDULE}
    turns=-1
    victory_when_enemies_defeated=no

    [side]
        side=1
        controller=ai
        name=_"Langzhar"
        id=Langzhar
        type=Lieutenant
        persistent=no

        team_name=Langzhar
        user_team_name=_"Langzhar"
        recruit=Spearman,Bowman

        gold=300
    [/side]

    [side]
        side=2
        controller=ai
        name=_"Koorzhar"
        id=Koorzhar
        type=Lieutenant
        persistent=no

        team_name=Koorzhar
        user_team_name=_"Koorzhar"
        recruit=Spearman,Bowman

        gold=300
    [/side]

    [side]  # This side is only here because we need one persistent side for the game to go on
        side=3
        controller=null
        id=Grnk
        type=Grnk the Spearman

        persistent=yes
        save_id=Grnk

        gold=0
        income=-2  # No income whatsoever
    [/side]

    # Prestart actions
    [event]
        name=prestart

        # Put the [micro_ai] tag here
    [/event]

    [event]
        name=start

        {MESSAGE_RIGHT Koorzhar _"This is a very simple scenario that can be used to test different recruiting patterns."}
        {MESSAGE Langzhar "" "" _"Just watch the recruiting of both sides and see if it is what you would expect.  The recruitment lists cover level 0 to level 2 units, in order to make differences more obvious."}
        {MESSAGE_RIGHT Koorzhar _"Note: currently both side use the default recruiting method.  Tests to be implemented soon."}
    [/event]
[/scenario]
