#textdomain wesnoth-AI-demos

[scenario]
    id=aid_switchboard
    name= _ "AI-demos Switchboard"
    next_scenario=null

    map_data="{multiplayer/maps/Dark_Forecast.map}"

    {DEFAULT_SCHEDULE}
    turns=-1
    victory_when_enemies_defeated=no

    [story]
        [if]
            [variable]
                name=story_shown
                not_equals=yes
            [/variable]
            [then]
                [part]
                    background=portraits/goblins/spearman.png
                    story= _ "<span font='16'>Hi, I'm Grnk the Frail. You may remember me from such instructional campaigns as 'Grnk the Mighty' and 'Why You Shouldn't Attack Peasants When There's A Mad Goblin Around.'

This campaign is the home of a number of AI development projects, most notably two MP AIs dubbed 'Ron' and 'Fred' as well as several test and demo scenarios.  This is also where the Micro AIs were developed.  As those have now been moved into mainline, they are no longer part of this campaign.

Fred currently boasts a >98% win rate against the RCA AI, but only on the Freelands map playing Northerners as Side 1.  He also still has significant problems playing against human players, so any comments on how to improve the AI would me most welcome.

This add-on requires the most recent Wesnoth development version (1.11.7).

In general, if you have comments, problems, suggestions or requests for additional AI behaviors, please visit our thread on the <span color='#00A000'>Wesnoth forums</span> at http://tinyurl.com/AI-mods</span>" # wmllint: no spellcheck
                [/part]
            [/then]
        [/if]
    [/story]

    [side]
        side=1
        controller=human
        id=Grnk
        name= _ "Grnk the Frail"
        gender=male
        unrenamable=yes
        type=Goblin Spearman
        max_moves=99
        x,y=13,15

        team_name=Grnk
        user_team_name= _ "team_name^Grnk"
        persistent=yes
        save_id=Grnk

        [modifications]
            {TRAIT_QUICK}
        [/modifications]

        village_gold=0
        {GOLD 24 22 19}
        income=-2  # No income whatsoever
    [/side]

    # The labels and signposts to go on to the next scenario
    [event]
        name=prestart

        {PLACE_IMAGE "scenery/signpost.png~GS()" 9 13}
        {SET_LABEL 9 13 _"<span color='#D0D0D0'>MP rushes</span>"}

        {PLACE_IMAGE "scenery/signpost.png~GS()" 9 14}
        {SET_LABEL 9 14 _"<span color='#D0D0D0'>Test Scenario</span>"}

        {PLACE_IMAGE "scenery/signpost.png~GS()" 9 15}
        {SET_LABEL 9 15 _"<span color='#D0D0D0'>Simple Lua AI Demo</span>"}

        {PLACE_IMAGE "scenery/signpost.png~GS()" 9 16}
        {SET_LABEL 9 16 _"<span color='#D0D0D0'>Prune Cart</span>"}

        #{PLACE_IMAGE "scenery/signpost.png~GS()" 1 10}
        #{SET_LABEL 4 10 _"<span color='#D0D0D0'>Formula AI Demo</span>"}

        {VARIABLE scenario_name aid_switchboard}
        {VARIABLE story_shown yes}

        [set_menu_item]
            id=m91_rushes
            description= _ "MP Rush AIs (Lua AI)"
            image=units/orcs/grunt.png~CROP(23,15,24,24)
            [filter_location]
                x,y=9,13
            [/filter_location]
            [show_if]
                {VARIABLE_CONDITIONAL scenario_name equals aid_switchboard}
            [/show_if]
            [command]
                {MESSAGE Grnk "" _"MP rush AIs" _"Story only scenario that explains how to use the multiplayer rush AIs."}
            [/command]
        [/set_menu_item]

        [set_menu_item]
            id=m92_test
            description= _ "Lua AI Test Scenario"
            image=units/orcs/grunt.png~CROP(23,15,24,24)
            [filter_location]
                x,y=9,14
            [/filter_location]
            [show_if]
                {VARIABLE_CONDITIONAL scenario_name equals aid_switchboard}
            [/show_if]
            [command]
                {MESSAGE Grnk "" _"Lua AI Test Scenario" _"This is a hard-core test scenario that is here for manual testing of AI functions or candidate actions. It provides a right-click menu option for doing so without having to reload.

It can also be started from the commandline as a test scenario with 'Wesnoth -d -t aid_test'."}
            [/command]
        [/set_menu_item]

        [set_menu_item]
            id=m80_Lua_demo
            description= _ "Simple Lua AI Demo"
            image=units/orcs/grunt.png~CROP(23,15,24,24)
            [filter_location]
                x,y=9,15
            [/filter_location]
            [show_if]
                {VARIABLE_CONDITIONAL scenario_name equals aid_switchboard}
            [/show_if]
            [command]
                {MESSAGE Grnk "" _"Simple Lua AI Demo" _"This scenario provides a simple template for setting up a Lua AI engine and scenario. The AI behavior itself is trivial and not particularly useful (some of the AI units simply move toward two map locations, with priority either higher or lower than attacks on enemies), it is only meant as a demonstration how to code this."}
            [/command]
        [/set_menu_item]

        [set_menu_item]
            id=m90_cart
            description= _ "Prune Cart AI demo"
            image=units/orcs/grunt.png~CROP(23,15,24,24)
            [filter_location]
                x,y=9,16
            [/filter_location]
            [show_if]
                {VARIABLE_CONDITIONAL scenario_name equals aid_switchboard}
            [/show_if]
            [command]
                {MESSAGE Grnk "" _"Prune Cart AI Demo" _"This scenario features an orcish horde protecting a cart with magical prunes from an undead army, while the cart (slowly) makes its way through a mountainous area.  Unfinished."}
            [/command]
        [/set_menu_item]

        [set_menu_item]
            id=m94_fai
            description= _ "Formula AI demo"  # Not included yet
            image=units/elves-wood/avenger.png~CROP(25,11,24,24)
            [filter_location]
                x,y=0,0
            [/filter_location]
            [show_if]
                {VARIABLE_CONDITIONAL scenario_name equals aid_switchboard}
            [/show_if]
            [command]
                {MESSAGE Grnk "" _"Formula AI Demo" _"This scenario contains a simple demonstration of setting up a full AI using Formula AI."}
            [/command]
        [/set_menu_item]
    [/event]

    [event]
        name=start

        {SCROLL_TO 13 18}

        {MESSAGE Grnk "" "" _"Move me to any of the signposts to go to an AI demonstration. Information about each demonstration can be accessed by right-clicking on the respective signpost."}

        [objectives]
            [objective]
                description= _ "Move Grnk to one of the signposts"
                condition=win
            [/objective]
            [note]
                description= _ "Right-click on a signpost to get information about the scenario"
            [/note]
        [/objectives]
    [/event]

    [event]
        name=moveto
        [filter]
            x,y=9,13
        [/filter]

        [endlevel]
            result=victory
            next_scenario=rushes
            bonus=no
            carryover_percentage=0
            carryover_report=no
            linger_mode=no
            replay_save=no
        [/endlevel]
    [/event]

    [event]
        name=moveto
        [filter]
            x,y=9,14
        [/filter]

        [endlevel]
            result=victory
            next_scenario=aid_test
            bonus=no
            carryover_percentage=0
            carryover_report=no
            linger_mode=no
            replay_save=no
        [/endlevel]
    [/event]

    [event]
        name=moveto
        [filter]
            x,y=9,15
        [/filter]

        [endlevel]
            result=victory
            next_scenario=luaai-demo
            bonus=no
            carryover_percentage=0
            carryover_report=no
            linger_mode=no
            replay_save=no
        [/endlevel]
    [/event]

    [event]
        name=moveto
        [filter]
            x,y=9,16
        [/filter]

        [endlevel]
            result=victory
            next_scenario=prune_cart
            bonus=no
            carryover_percentage=0
            carryover_report=no
            linger_mode=no
            replay_save=no
        [/endlevel]
    [/event]

    [event]
        name=moveto2
        [filter]
            x,y=0,0
        [/filter]

        [endlevel]
            result=victory
            next_scenario=fai_demo
            bonus=no
            carryover_percentage=0
            carryover_report=no
            linger_mode=no
            replay_save=no
        [/endlevel]
    [/event]
[/scenario]
