#textdomain wesnoth-AI-demos

#ifdef TEST
[test]
#else
# wmlindent: start ignoring
[scenario]
# wmlindent: stop ignoring
#endif
    id=aid_test
    name=_"aid_test"
    next_scenario=aid_switchboard

    map_data="{multiplayer/maps/2p_The_Freelands.map}"
    #map_data="{multiplayer/maps/2p_Den_of_Onis.map}"

    {DEFAULT_SCHEDULE}
    turns=50
    victory_when_enemies_defeated=no

    [side]
        side=1
        controller=human
        id=Vanak
        name=Vanak
        type=Orcish Ruler
        persistent=no

        team_name=Vanak
        user_team_name=_"Vanak"

        recruit=Orcish Grunt,Orcish Archer,Orcish Assassin,Wolf Rider,Troll Whelp
        gold=0

        {ai/aliases/stable_singleplayer.cfg}
        [ai]
            id=luaAI_test
            name=_"Lua AI Test"
            version=10710
            [engine]
                name="lua"
                code= <<
                    --local ai_stdlib = wesnoth.require('ai/lua/stdlib.lua');
                    --ai_stdlib.init(ai, true)
                    return {}  -- Just a dummy return
                >>
            [/engine]
        [/ai]
        ################## Or use external CA ##########################
        #[ai]
        #    version=10710
        #    [stage]
        #        id=main_loop
        #        name=ai_default_rca::candidate_action_evaluation_loop
        #        [candidate_action]
        #            engine=lua
        #            name=external_example
        #            location="~/add-ons/LuaAI_tests/ext_test.lua"
        #        [/candidate_action]
        #    [/stage]
        #[/ai]
    [/side]

    [side]
        side=2
        controller=ai
        id=Bad Orc
        type=Orcish Ruler
        persistent=no

        team_name=Orcs
        user_team_name=_"Orcs"

        recruit=Orcish Grunt,Orcish Archer,Orcish Assassin,Wolf Rider,Troll Whelp
        gold=0
    [/side]

    [event]
        name=prestart

        {VARIABLE scenario_name aid_test}

        [set_menu_item]
            id = m01
            description=_"Reload Lua code"
            image=items/ring-red.png~CROP(26,26,20,20)
            [command]
                [lua]
                    code=<<wesnoth.dofile "~add-ons/AI-demos/lua/test_lua.lua">>
                [/lua]
            [/command]
        [/set_menu_item]

        [set_menu_item]
            id=m06_kill_unit
            description=_"Kill Unit under Cursor"
            image=items/potion-poison.png~CROP(24,29,24,24)
            [command]
                [kill]
                    x,y=$x1,$y1
                [/kill]
            [/command]
        [/set_menu_item]

        [objectives]
            summary = _ "This scenario can be started directly from the commandline with '-t aid_test'"
        [/objectives]
    [/event]
#ifndef TEST
[/scenario]
#else
# wmlindent: start ignoring
[/test]
# wmlindent: stop ignoring
#endif
