#textdomain=wesnoth-Grnk
[textdomain]
    name="wesnoth-Grnk"
    path="./translations"
[/textdomain]

[campaign]
    id=AI-demos
    name=_"AI Modification Demos"
    abbrev=_"AI-demos"

    define=CAMPAIGN_AIDEMOS
    first_scenario=switchboard

    icon=units/goblins/rouser.png~RC(magenta>red)
    image=portraits/goblins/transparent/spearman.png~SCALE(400,320)
    rank=9999
    #difficulties=NORMAL
    #difficulty_descriptions=_"*&units/goblins/spearman.png~RC(magenta>red)=Normal"
    description=_"<span color='#FF0000'><u>Important:</u>  As of v0.11.2, development of AI-Demos has been discontinued for Wesnoth 1.10.  To get the most up-to-date version, please use Wesnoth 1.11.</span>

Do you ever feel like you want to change the default behavior of the Wesnoth AI, but don't know how to go about it?  Wonder no more, you have come to the right place.  Feisty little goblin Grnk will be your tour guide to the wonders of Wesnoth AI development.

This campaign now introduces the [micro_ai] tag, a simple way of adding specialized AI behavior using only a few lines of WML code.

<span color='#808080'><small>Version {./version.txt}, 15 SP scenarios and 2 MP AIs, with more than 30 different AI behaviors.

Additional information is available under ""Practical Guide to Modifying AI Behavior"" on the Wesnoth wiki or in our thread on the Wesnoth forums: http://tinyurl.com/AI-mods</small></span>"

    [about]
        title=_"Campaign Design and most AI modifications"
        [entry]
            name=_"mattsc"
        [/entry]
    [/about]
    [about]
        title=_"Code and strategy contributions"
        [entry]
            name=_"nelson, Rigor, Alarantalara and many, many others"
        [/entry]
    [/about]
    [about]
        title=_"Home guard code"
        [entry]
            name=_"JaMiT"
        [/entry]
    [/about]
    [about]
        title=_"Stationed guardian and coward ideas"
        [entry]
            name=_"Simons Mith"
        [/entry]
    [/about]
    [about]
        title=_"Patrol scenario map and Konrad move idea (from 'The Earth Gut')"
        [entry]
            name=_"Anonymissimus"
        [/entry]
    [/about]
    [about]
        title=_"Goblin Jabb patrol code (from 'A Rough Life')"
        [entry]
            name=_"Elvish_Hunter"
        [/entry]
    [/about]
    [about]
        title=_"Urudin retreat code (from 'Legend of Wesmere')"
        [entry]
            name=_"nephro and Elvish_Hunter"
        [/entry]
    [/about]
    [about]
        title=_"Animal unit graphics and config files"
        [entry]
            name=_"Deer & Stag: Anna D. (dirtywhitellama);  Rabbit: cedric;  Other Animals: Different sources -- TBD: need to list those specifically !!!"
        [/entry]
    [/about]
    [about]
        title=_"Formula AI scenario and code"
        [entry]
            name=_"Wehrli Johan and Rinaldini Julien"
        [/entry]
    [/about]
[/campaign]

#ifdef CAMPAIGN_AIDEMOS

[lua]
    code = <<
        message_size, caption_size = 16, 20
        wesnoth.dofile "~add-ons/AI-demos/lua/message_font_size.lua"
    >>
[/lua]
[binary_path]
    path=data/add-ons/AI-demos
[/binary_path]

{~add-ons/AI-demos/micro_ais/activate_micro_ais.cfg}

[+units]
    {./units}
[/units]
{./utils}
{./scenarios}
#endif

#ifdef MULTIPLAYER
[binary_path]
    path="data/add-ons/AI-demos"
[/binary_path]
{./multiplayer}
#endif
