#textdomain wesnoth-AI-demos

[era]
    id=AI_Demos
    name= _ "Default+Experimental AI"

    {RANDOM_SIDE}
    {multiplayer/factions/loyalists-default.cfg}
    {multiplayer/factions/rebels-default.cfg}
    {multiplayer/factions/northerners-default.cfg}
    {multiplayer/factions/undead-default.cfg}
    {multiplayer/factions/knalgans-default.cfg}
    {multiplayer/factions/drakes-default.cfg}
    {QUICK_4MP_LEADERS}

    {DEMO_MULTIPLAYER_AIS}
[/era]
