[era]
    id=AI_Demos
    name= _ "Default+Experimental AI"

    {~add-ons/AI-demos/ais/ai_generic-rush.cfg}
    {~add-ons/AI-demos/ais/ai_grunt-rush-Freelands-S1.cfg}
    {RANDOM_SIDE}
    {multiplayer/factions/loyalists-default.cfg}
    {multiplayer/factions/rebels-default.cfg}
    {multiplayer/factions/northerners-default.cfg}
    {multiplayer/factions/undead-default.cfg}
    {multiplayer/factions/knalgans-default.cfg}
    {multiplayer/factions/drakes-default.cfg}
    {QUICK_4MP_LEADERS}

    # Some events to be fired from within the AI's
    [event]
        name=start

        # Set this for all games, so that it can be retrieved later from savegames
        {VARIABLE AI_Demos_version "{~/add-ons/AI-demos/version.txt}"}
        [lua]
            code = <<
                local GRH = wesnoth.require "~/add-ons/AI-demos/lua/grunt_rush_helper.lua"
                GRH.GRFLS1_hello()
            >>
        [/lua]
    [/event]

    [event]
        name=die
        [filter]
            canrecruit=yes
        [/filter]

        [lua]
            code = <<
                local GRH = wesnoth.require "~/add-ons/AI-demos/lua/grunt_rush_helper.lua"
                GRH.GRFLS1_bye()
            >>
        [/lua]
    [/event]
[/era]

[era]
    id=AI_Demos_parms
    name= _ "Default+Experimental AI (adjustable parameters)"

    {~add-ons/AI-demos/ais/ai_grunt-rush-Freelands-S1.cfg}
    {RANDOM_SIDE}
    {multiplayer/factions/loyalists-default.cfg}
    {multiplayer/factions/rebels-default.cfg}
    {multiplayer/factions/northerners-default.cfg}
    {multiplayer/factions/undead-default.cfg}
    {multiplayer/factions/knalgans-default.cfg}
    {multiplayer/factions/drakes-default.cfg}
    {QUICK_4MP_LEADERS}

    # Some events to be fired from within the AI's
    # Set some variables at beginning that will affect aI behavior later
    # For Grunt Rush on Freelands Side 1 AI only
    [event]
        name=start

        {CLEAR_VARIABLE leave_own_villages}

        [message]
            message=_"Before we start, you can change some of the AI parameters to modify how the AI plays.  This is for AI development purposes and only works with the 'Grunt Rush on Freelands (Side 1)' AI.
At the moment, only one parameter is adjustable.  More will be added soon."
            speaker=narrator
            image=wesnoth-icon.png
            [option]
                message=_"Hold villages already owned by the AI when enemy is close (default)"
                [command]
                [/command]
            [/option]
            [option]
                message=_"Don't necessarily stay on those villages"
                [command]
                    {VARIABLE leave_own_villages yes}
                [/command]
            [/option]
        [/message]

        [lua]
            code = <<
                local GRH = wesnoth.require "~/add-ons/AI-demos/lua/grunt_rush_helper.lua"
                GRH.GRFLS1_hello()
            >>
        [/lua]
    [/event]

    [event]
        name=die
        [filter]
            canrecruit=yes
        [/filter]

        [lua]
            code = <<
                local GRH = wesnoth.require "~/add-ons/AI-demos/lua/grunt_rush_helper.lua"
                GRH.GRFLS1_bye()
            >>
        [/lua]
    [/event]
[/era]
