#textdomain wesnoth-AI-demos

[scenario]
    id=goto
    name=_"Goto"
    next_scenario=micro_ai_test

    map_data="{~add-ons/AI-demos/micro_ais/maps/goto.map}"

    {DEFAULT_SCHEDULE}
    turns=-1
    victory_when_enemies_defeated=no

    [side]
        side=1
        controller=null
        hidden=no
        name=Rutburt
        id=Rutburt
        max_moves=99
        type=Outlaw
        persistent=no

        team_name=humans
        user_team_name=_"Humans"

        canrecruit=yes
        recruit=Ruffian,Footpad,Thug,Poacher
        gold=0
    [/side]

    [side]
        side=2
        controller=ai
        type=Lieutenant
        id=leader2
        persistent=no

        team_name=humans
        user_team_name=_"Humans"
        scroll_to_leader=no

        canrecruit=yes
        recruit=Spearman,Bowman
        gold=0

        {MICRO_AI_GOTO}
    [/side]

    [side]
        side=3
        controller=null
        type=Trapper
        id=leader3
        persistent=no

        team_name=humans
        user_team_name=_"Humans"

        canrecruit=yes
        recruit=Woodsman,Ruffian
        gold=0
    [/side]

    [side]
        side=4
        controller=ai
        type=Saurian Flanker
        id=leader4
        persistent=no

        team_name=saurians
        user_team_name=_"Saurians"

        canrecruit=yes
        recruit=Saurian Augur,Saurian Skirmisher
        gold=50
        income=4

        {MICRO_AI_LURKERS}
    [/side]

    [side]
        side=5
        controller=null
        type=Sergeant
        id=leader5
        persistent=no

        team_name=humans
        user_team_name=_"Humans"

        canrecruit=yes
        recruit=Spearman,Bowman
        gold=0
    [/side]

    [side]
        side=6
        controller=null
        no_leader=yes
        persistent=no

        team_name=birds
        user_team_name=_"Birds"

        gold=0
        income=-2
    [/side]

    [side]  # This side is only here because we need one persistent side for the game to go on
        side=7
        controller=null
        persistent=yes
        save_id=Grnk
        hidden=yes
    [/side]

    # Put all the units and markers out there
    [event]
        name=prestart

        {VARIABLE scenario_name goto}

        [unit]
            side=2
            type=Spearman
            id=messenger1
            x,y=40,4
            random_traits=no
        [/unit]
        [unit]
            side=2
            type=Bowman
            id=messenger2
            x,y=41,4
            random_traits=no
        [/unit]

        # Set up the Goto Micro AI for the two messengers
        # so that messenger2 always goes first
        [micro_ai]
            side=2
            ai_type=goto
            action=add
            ca_id=messenger1

            [goto_units]
                id=messenger1
            [/goto_units]
            [goto_goals]
                x,y=6-7,2-4
                terrain=C*
            [/goto_goals]
            ca_score=210001
        [/micro_ai]
        [micro_ai]
            side=2
            ai_type=goto
            action=add
            ca_id=messenger2

            [goto_units]
                id=messenger2
            [/goto_units]
            [goto_goals]
                x,y=6-7,2-4
                terrain=C*
            [/goto_goals]
            ca_score=210002
        [/micro_ai]

        # Make the saurians behave like swamp lurkers
        [micro_ai]
            side=4
            ai_type=lurkers
            action=add

            [lurkers]
                type=Saurian Skirmisher,Saurian Augur
            [/lurkers]
            [attack_terrain]
                terrain=S*
            [/attack_terrain]
        [/micro_ai]

        # The right-click menu items
        [set_menu_item]
            id=m01_end_animals
            description=_"End scenario"
            image=items/ring-red.png~CROP(26,26,20,20)
            [show_if]
                {VARIABLE_CONDITIONAL scenario_name equals goto}
            [/show_if]
            [command]
                # So that game goes on to next scenario
                [modify_side]
                    side=8
                    controller=human
                [/modify_side]

                {MESSAGE narrator "wesnoth-icon.png" "" _"Well, that was that."}

                [endlevel]
                    result=victory
                    bonus=no
                    carryover_percentage=0
                    carryover_report=no
                    linger_mode=no
                [/endlevel]
            [/command]
        [/set_menu_item]
    [/event]

    [event]
        name=start

        #{MESSAGE narrator "wesnoth-icon.png" "" _"Text"}

        [objectives]
            side=1
            summary=_"Watch the units do their things"
            [objective]
                description=_"Use right-click option"
                condition=win
            [/objective]
            [objective]
                description=_"Death of Rutburt"
                condition=lose
            [/objective]
            [note]
                description=_"Check out the right-click menu options for additional actions"
            [/note]
        [/objectives]
    [/event]

    [event]
        name=side 2 turn

        [message]
            speaker=messenger1
            message=_"The bridge is out.  What do we do now?"
        [/message]
        [message]
            speaker=messenger2
            message=_"Looks like we need to take the long way around."
        [/message]
    [/event]

    # When the messengers get across the river, send them on separate paths
    [event]
        name=moveto
        [filter]
            id=messenger1,messenger2
            x=28-34
        [/filter]

        [message]
            speaker=messenger2
            message=_"I'll take the route straight through the mountains.  It's much shorter than following the trail all the way around in the south."
        [/message]
        [message]
            speaker=messenger1
            message=_"You're crazy.  It might be shorter as the crow flies, but it will take you forever to get through those mountains."
        [/message]

        [micro_ai]
            side=2
            ai_type=goto
            action=delete
            ca_id=messenger2
        [/micro_ai]
        [micro_ai]
            side=2
            ai_type=goto
            action=add
            ca_id=messenger2

            [goto_units]
                id=messenger2
            [/goto_units]
            [goto_goals]
                x,y=6-7,2-4
                terrain=C*
            [/goto_goals]
            use_straight_line=yes
            ca_score=210002
        [/micro_ai]
    [/event]

    # When the first messenger gets to the castle
    [event]
        name=moveto
        [filter]
            id=messenger1,messenger2
            x,y=6-7,2-4
            terrain=C*
        [/filter]

        [message]
            speaker=unit
            message=_"I told you so!"
        [/message]
    [/event]
[/scenario]
