#textdomain=wesnoth-Grnk

# Activation of micro-AI capabilities
# Requires AI-Demos to be installed
#
# Put the following into your _main.cfg:
# {~add-ons/AI-demos/micro_ais/activate_micro_ais.cfg}

{~add-ons/AI-demos/micro_ais/macros}
{~add-ons/AI-demos/micro_ais/ais}

{MICRO_AI_TAGS}
