#textdomain wesnoth-AI-demos

[unit_type]
    id=Bear
    name=_"Bear"
    race=monster
    image="animals/bear.png"
    hitpoints=65
    movement=5
    experience=150
    level=2
    alignment=neutral
    advances_to=null
    {AMLA_DEFAULT}
    cost=33
    usage=fighter
    description= _ "Adult bears are known for going their own way; most bears would sooner flee a melee than throw themselves at risk. Some, though, for whatever reason, choose not to run. These bears are a terrifying sight to behold. An adult bear is a mass of muscle, claw, fur, and fury of almost unrivaled proportions: even the most skilled of warriors will not look lightly on the bulk of an angry, advancing bear."
    get_hit_sound=yeti-hit.ogg
    die_sound=yeti-die.ogg

    [movement_costs]
        shallow_water=2
        swamp_water=2
        flat=1
        sand=2
        forest=1
        fungus=1
        hills=1
        mountains=2
        village=1
        castle=1
        cave=1
        frozen=1
    [/movement_costs]
    [defense]
        shallow_water=80
        swamp_water=80
        flat=70
        sand=70
        forest=50
        hills=60
        mountains=50
        village=70
        castle=70
        cave=60
        frozen=60
        fungus=60
    [/defense]
    [resistance]
        blade=100
        pierce=100
        impact=100
        fire=100
        cold=80
        arcane=80
    [/resistance]

    [attack]
        name=bearhug
        description= _ "bearhug"
        icon=attacks/claws-animal.png
        type=impact
        range=melee
        damage=16
        number=2
    [/attack]
    [attack]
        name=claws
        description=_"claws"
        icon=attacks/claws-animal.png
        type=blade
        range=melee
        damage=16
        number=2
    [/attack]

    [attack_anim]
        [filter_attack]
            name=bearhug
        [/filter_attack]
        [if]
            hits=yes
            [frame]
                begin=-150
                end=150
                sound=fist.ogg
            [/frame]
        [/if]
        [else]
            hits=no
            [frame]
                begin=-150
                end=150
                sound={SOUND_LIST:MISS}
            [/frame]
        [/else]
    [/attack_anim]
    [attack_anim]
        [filter_attack]
            name=claws
        [/filter_attack]
        [if]
            hits=yes
            [frame]
                begin=-150
                end=150
                sound=claws.ogg
            [/frame]
        [/if]
        [else]
            hits=no
            [frame]
                begin=-150
                end=150
                sound={SOUND_LIST:MISS}
            [/frame]
        [/else]
    [/attack_anim]
[/unit_type]
