#textdomain wesnoth-Grnk

# Grnk the Rouser
# Differences from standard Goblin Rouser
#  - special AMLA upgrades
#    - increase spear damage
#    - increase movement
#    - Level 2 leadership (as a Level 1 unit)
#    - Normal AMLA (although not quite the default)

[unit_type]
    [base_unit]
        id=Goblin Rouser
    [/base_unit]

    id=Grnk the Rouser
    name=Grnk the Rouser

    hide_help=yes
    description=_"After advancing to Level 1, Grnk has most of the characteristics of a standard goblin rouser.  He does, however, retain his skirmisher ability and, as a much smarter than normal goblin, advances through a special AMLA system."+{SPECIAL_NOTES}+{SPECIAL_NOTES_SKIRMISHER}+{SPECIAL_NOTES_LEADERSHIP}+_"  Due to his personality, Grnk can attain Level 2 leadership as a Level 1 unit through AMLA advancement."

    experience=25
    advances_to=null

    [abilities]
        {ABILITY_SKIRMISHER}
    [/abilities]

    # The AMLA advancements

    # Increase spear damage
    [advancement]
        id=amla_spear_damage
        description=_"Increase spear damage (+2 spear damage, +3 HP, +15% XP, full heal)"
        image=attacks/spear.png
        max_times=1
        [effect]
            apply_to=attack
            name=spear
            increase_damage=2
        [/effect]
        [effect]
            apply_to=hitpoints
            increase_total=3
            heal_full=yes
        [/effect]
        [effect]
            apply_to=max_experience
            increase=15%
        [/effect]
        [effect]
            apply_to=status
            remove=poisoned
        [/effect]
        [effect]
            apply_to=status
            remove=slowed
        [/effect]
    [/advancement]

    # Increase movement
    [advancement]
        id=amla_movement
        description=_"Increase movement (+1 movement, +2 HP, +10% XP, full heal)"
        image=icons/boots_elven.png
        max_times=1
        [effect]
            apply_to=movement
            increase=1
        [/effect]
        [effect]
            apply_to=hitpoints
            increase_total=2
            heal_full=yes
        [/effect]
        [effect]
            apply_to=max_experience
            increase=10%
        [/effect]
        [effect]
            apply_to=status
            remove=poisoned
        [/effect]
        [effect]
            apply_to=status
            remove=slowed
        [/effect]
    [/advancement]

    # Leadership Level 2
    [advancement]
        id=amla_leadership
        description=_"Level 2 leadership (+2 HP, +10% XP, full heal)"
        image=items/sceptre-of-fire.png
        max_times=1
        [effect]
            apply_to=remove_ability
            [abilities]
                [leadership]
                    id=leadership
                [/leadership]
            [/abilities]
        [/effect]
        [effect]
            apply_to=new_ability
            # Do this specifically here, instead of using canned routine
            # Because Grnk is a level 1 unit only
            [abilities]
                {ABILITY_L2_LEADERSHIP}
            [/abilities]
        [/effect]
        [effect]
            apply_to=hitpoints
            increase_total=2
            heal_full=yes
        [/effect]
        [effect]
            apply_to=max_experience
            increase=10%
        [/effect]
        [effect]
            apply_to=status
            remove=poisoned
        [/effect]
        [effect]
            apply_to=status
            remove=slowed
        [/effect]
    [/advancement]

    {NORMAL_AMLA}
[/unit_type]
